.sumo {
  position: absolute;
  height: 500px;
  aspect-ratio: 1/1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
  transition: all 800ms;
  transform: scale(0) rotate(0);
}

.sumo2 {
  transform: scale(1) rotate(360deg);
}
